# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/Taxproject/.vs/Taxproject/FileContentIndex/
/Taxproject/.vs/
/Taxproject/obj/*
/Taxproject/obj/Debug/*.*
*.*.cache
